# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

### IntelliJ IDEA ###
#.idea/
#*.iws
#*.ipr
#*.iml

.idea

/public/.idea/*.xlsx
#根目录
#/target

#当前目录及其所有子目录排除文件夹，注意：同时该名称的文件也被排除
target/

#当前目录及其所有子目录排除文件夹，注意：该名称的文件没有被排除
#target/

#排除根路径下target文件夹以及根路径下名称叫target的文件，子文件夹中的同名文件夹或者文件不被排除
#/target


# 总结
# 1.斜线开头表示 排除的文件位于根目录，换句话说斜线是代表某一级目录
# 2.斜线结尾表示 排除的是一个文件夹，如果未配置斜线结尾则表明排除指定文件夹的同时也排除这个名字的文件

